<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="base-layout">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/css/main.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="../../static/js/main.js"></script>
    <style>
    </style>
    <script>
    </script>
</head>
<body layout:layout="body">
<!-- content -->
<div class="container">
    <h2>500</h2>
    <p>发生错误了!</p>
    <p>点击<a href="#">这里</a>返回上一页面.</p>
    <hr/>
    <p><b>错误信息 : </b></p>
    <p>错误的信息</p>
    <hr/>
    <p>您可以联系<a href="#">管理员</a>将错误信息反馈给他.</p>
</div>
</body>
</html>