<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="template/base-layout">
<head>
    <meta th:if="false" http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta th:if="false" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:if="false" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link th:if="false" href="../../static/css/main.css" rel="stylesheet">
    <script th:if="false" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script th:if="false" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script th:if="false" src="https://cdn.bootcss.com/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.js"></script>
    <script th:if="false" src="https://cdn.bootcss.com/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
    <script th:if="false" src="../../static/js/main.js"></script>

</head>
<body>
<th:block layout:fragment="body">
<script type="text/javascript" th:inline="javascript">
    $(function () {
        if (window.opener) {
            window.opener.location.reload();
            window.close();
        } else {
            var referer = "[(@{${referer}})]";
            window.location = referer;
        }
    });
</script>
</th:block>
</body>
</html>