<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="template/two-column-layout">
<head>
    <meta th:if="false" http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta th:if="false" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:if="false" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link th:if="false" href="../../static/css/main.css" rel="stylesheet">
    <link th:if="false" href="../../static/css/two-column-layout.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/bootstrap-switch/4.0.0-alpha.1/css/bootstrap-switch.css" th:href="@{https://cdn.bootcss.com/bootstrap-switch/4.0.0-alpha.1/css/bootstrap-switch.min.css}" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/css/bootstrap-select.css" th:href="@{https://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/css/bootstrap-select.min.css}" rel="stylesheet">

    <script th:if="false" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script th:if="false" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script th:if="false" src="https://cdn.bootcss.com/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.js"></script>
    <script th:if="false" src="../../static/js/main.js"></script>
    <script src="https://cdn.bootcss.com/1000hz-bootstrap-validator/0.11.9/validator.js" th:src="@{https://cdn.bootcss.com/1000hz-bootstrap-validator/0.11.9/validator.min.js}"></script>
    <script src="https://cdn.bootcss.com/bootstrap-switch/4.0.0-alpha.1/js/bootstrap-switch.js" th:src="@{https://cdn.bootcss.com/bootstrap-switch/4.0.0-alpha.1/js/bootstrap-switch.min.js}"></script>
    <script src="https://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/js/bootstrap-select.js" th:src="@{https://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/js/bootstrap-select.min.js}"></script>
    <script src="https://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/js/i18n/defaults-zh_CN.js" th:src="@{https://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/js/i18n/defaults-zh_CN.min.js}"></script>

    <style>
        .table > tbody > tr > td {
            vertical-align: middle;
        }

        .btn-sm {
            line-height: 1.4;
        }

        .content-card {
            min-width: 650px;
        }

        #error li:not(:last-child) {
            border-bottom: 1px solid #ebccd1;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
<!-- content -->
<div class="container">
    <div class="template-content" layout:fragment="template-content">
        <div class="content-card">
            <h3>文章列表</h3>
            <div class="inner-inline-block">
                <a class="btn btn-link float-right" title="排序"
                   th:href="@{|/article/list?sortType=${sortType}&page=${page}&count=${count}&asc=${!asc}|}">
                    <span class="glyphicon glyphicon-sort-by-attributes"
                          th:class="${'glyphicon ' + (asc?'glyphicon-sort-by-attributes':'glyphicon-sort-by-attributes-alt')}"></span>
                </a>
                <div class="float-right">
                    <select class="selectpicker form-control dropdown" onchange="window.location=this.value;">
                        <option value="#" th:selected="${sortType=='releaseTime'}" th:value="@{|/article/list?sortType=releaseTime&page=${page}&count=${count}&asc=${asc}|}">
                            创建时间
                        </option>
                        <option value="#" th:selected="${sortType=='status'}" th:value="@{|/article/list?sortType=status&page=${page}&count=${count}&asc=${asc}|}">
                            状态
                        </option>
                        <option value="#" th:selected="${sortType=='title'}" th:value="@{|/article/list?sortType=title&page=${page}&count=${count}&asc=${asc}|}">
                            标题
                        </option>
                    </select>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                <th>#</th>
                <th>标题</th>
                <th>创建时间</th>
                <th>状态</th>
                <th>草稿</th>
                </thead>
                <tbody>
                <tr th:each="article,iter : ${articles}">
                    <td th:text="*{iter.count}">1</td>
                    <td><a href="#">标题</a></td>
                    <td th:text="*{#dates.format(article.releaseTime, 'yyyy年MM月dd日')}">年月日</td>
                    <td th:text="*{article.status}">状态</td>
                    <td>
                        <a th:remove="*{article.hasDraft?'none' : 'tag'}" href="#" th:href="*{'/article-edit/' + article.id}">草稿</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <th:block th:replace="~{template/pagination::pagination(${pageCount}, ${page}, |/article/list?sortType=${sortType}&asc=${asc}&count=${count}&page=|)}"></th:block>
        </div>
    </div>
</div>

</body>
</html>