input[type=checkbox].round-input, input[type=radio].round-input {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

input[type=checkbox].round-input:checked, input[type=radio].round-input:checked {
    background-color: #337ab7;
}

input[type=checkbox].round-input:checked:after, input[type=radio].round-input:checked:after {
    position: relative;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 80%;
    text-align: right;
    color: white;
    left: 3px;
    content: "\e013";
}