<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/css/main.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.js"></script>
    <script src="https://cdn.bootcss.com/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
    <script src="../../static/js/main.js"></script>
</head>
<body>
<th:block th:fragment="pagination(pageCount, page, url)">
    <div class="text-center" th:if="${pageCount != 1}">
        <ul class="pagination">
            <li th:class="${page == 1 ? 'disabled' : ''}">
                <a href="#"
                   th:href="@{${url} + ${page - 1}}"
                   th:remove="${page == 1 ? 'tag' : 'none'}"
                   th:disabled="${page == 1}"
                   aria-label="Previous">
                    <span aria-hidden="true">上一页</span>
                </a>
            </li>
            <li th:each="i : ${pageCount < 7 ? #numbers.sequence(1, pageCount) : page < 4 ? #numbers.sequence(1, 7) : page > pageCount - 3 ? #numbers.sequence(pageCount - 6, pageCount) : #numbers.sequence(page - 3, page + 3)}"
                th:class="${page == i ? 'disabled' : ''}">
                <a href="#"
                   th:href="@{${url} + *{i}}"
                   th:remove="${page == i ? 'tag' : 'none'}">
                    <span aria-hidden="true" th:text="*{i}">1</span>
                </a>
            </li>
            <li th:class=" ${page== pageCount ? 'disabled' : ''}">
                <a href="#"
                   th:href="@{${url} + ${page + 1}}"
                   th:remove="${page == pageCount ? 'tag' : 'none'}"
                   aria-label="Next">
                    <span aria-hidden="true">下一页</span>
                </a>
            </li>
        </ul>
    </div>

</th:block>
</body>
</html>